<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/default">
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
<script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
<script type="text/javascript">
/*<![CDATA[*/
var today = getToday();

function getData(page) {

	if ($('#startDate').val().replace(/-/g, '') == '' && $('#endDate').val().replace(/-/g, '') != ''){
		showAlert('등록시작일자를 입력하십시오.');
		$('#startDate').focus();
		return;
	}
	if ($('#startDate').val().replace(/-/g, '') != '' && $('#endDate').val().replace(/-/g, '') == ''){
		showAlert('등록종료일자를 입력하십시오.');
		$('#endDate').focus();
		return;
	}
	if($('#startDate').val().replace(/-/g, '') > $('#endDate').val().replace(/-/g, '')){
    	showAlert('조회시작일자가 종료일자보다 큽니다.');
    	return;
    }
	
	if (($('#startDate').val().replace(/-/g, '') == '' || $('#endDate').val().replace(/-/g, '') == '') && $('#customerName').val() == '' && $('#phoneNumber').val() == '') {
		showAlert('고객명이나 전화번호 혹은 등록기간을 입력 후 조회하십시오.');
		$('#customerName').focus();
		return;
	} 
	
	var queryString = $("form[name=searchForm]").serialize();
	queryString = queryString + '&page='+page+'&perPageNum=10&pagingYn=Y';
	queryString = queryString.replace(/-/g, '');
	
	$.ajax({
		method : 'get',
		url : '/customer/getcustomerlist',
		data : queryString, 
		dataType : 'json',
		success : handleData
	});
}

function handleData(data) {
	debugger;
	
	//PageMaker정보를 Json으로부터 분리한다.
	json = data.lists; //hashmap의 list array데이타
	pageMaker = data.pageMaker; //pageMaker 

	$('#totalCount').html(pageMaker.totalCount);
	$('#customerTbody').empty();
	var trHTML = '';

	if (json.length == 0) {
		trHTML = '<tr class="no_empty"><td colspan=6><div class="data-empty"><img src="/resources/images/common/img_no_empty.png" alt="데이터 없음" /><span class="txt_empty">검색 결과가 없습니다.</span></div></td></tr>';
	} else {
		$.each(json, function(i, item) {
			trHTML += '<tr>'
				   +  '<td>' + ((pageMaker.cri.page-1)*10+i+1) + '</td>'
				   +  '<td>' + item.customerName + '<input type="hidden" name="customerNumber" value="' + item.customerNumber + '"/> </td>'
				   +  '<td class="phone">' + item.phoneNumber + '</td>'
				   +  '<td class="tal ellipsis">' + item.baseAddress + ' ' + item.detailAddress + '</td>'
				   +  '<td>' + (item.counsellingCount > 0?item.counsellingCount+'건':'-') + '</td>'
				   +  '<td>' + formatDate(item.createDate) + '</td>'
			       +  '<td>' + formatDateTime(item.auditDateTime) + '</td>'
			       +  '<td>' + item.employeeName + '</td>'
				   +  '</tr>';
		});
	}

	$('#customerTbody').append(trHTML);
	formatPhone();
	pagingProc(pageMaker);
}

function getPagingData(page){
	getData(page);
}

$(document).ready(function(){
	
    $('#startDate').val(dateAddDel(dateAddDel(today,-1,'m'),1,'d'));
	$('#endDate').val(today);
	$('#searchDate4').prop('checked','checked');
	
	//조회기간 라디어 클릭
	$('input[name=searchDate]').click(function(){
    	var endDate = $('#endDate').val().replace(/-/g, '');
    	if (endDate.length != 8) {
    		endDate = today;
    		$('#endDate').val(endDate);
    	}
       	var startDate;
       	if ($(this).val() == 31){
           	startDate = dateAddDel(dateAddDel(endDate,-1,'m'),1,'d');
           	$('#startDate').val(startDate);
       	} else if ($(this).val() == 0) {
       		$('#startDate').val(today);
       		$('#endDate').val(today);
       	} else if ($(this).val() == 'ALL') {
       		$('#startDate').val('');
       		$('#endDate').val('');
       	} else {
           	startDate = dateAddDel(endDate,-1*parseInt($(this).val()),'d');
           	$('#startDate').val(startDate);
       	}
	});
	
	//조회버튼 클릭
	$('#searchButton').click(function(){
		getData(1);
	});
	
	if ($('#searchCondition').val() != '') {
		var searchCondition = $('#searchCondition').val().split('|');
		$('#customerName').val(searchCondition[0]);
		$('#phoneNumber').val(searchCondition[1]);
		$('#startDate').val(searchCondition[2]);
		$('#endDate').val(searchCondition[3]);
		if (searchCondition[4] == 0) {
			$('#searchDate1').prop('checked',true);
		} else if (searchCondition[4] == 7) {
			$('#searchDate2').prop('checked',true);
		} else if (searchCondition[4] == 15) {
			$('#searchDate3').prop('checked',true);
		} else if (searchCondition[4] == 31) {
			$('#searchDate4').prop('checked',true);
		} else {
			$('#searchDate5').prop('checked',true);
		}
		
		getData(1);
	}
	
	//초기화버튼 클릭
	$('#resetButton').click(function(){
		$('#customerName').val('');
		$('#phoneNumber').val('');
	    $('#startDate').val(dateAddDel(dateAddDel(today,-1,'m'),1,'d'));
		$('#endDate').val(today);
		$('#searchDate4').prop('checked','checked');
	});
	
	//엑셀다운로드 버튼 클릭
	$('#excelButton').click(function(){
		var f = document.searchForm;
		f.method = 'post';
		f.action = '/customer/getcustomerlistexcel';
		f.submit();
	});
	
	//상세페이지 이동
	$('#customerTbody').on('click', 'tr', function(){
		var customerNumber = $(this).find('input[name=customerNumber]').val();
		var searchCondition = $('#customerName').val()+'|'+$('#phoneNumber').val()+'|'+$('#startDate').val()+'|'+$('#endDate').val()+'|'+$('input[name=searchDate]:checked').val();
		movePage('/counselling/customercounsellinglist/'+customerNumber+'/'+searchCondition,3,1)
	});
	
	//고객등록 팝업
    var popCustomer = $("#insertButton").trpLayerFixedPopup("#popCustomerDiv");

    //등록버튼 클릭
    $('#insertButton').click(function($e){
		$e.preventDefault();
		popCustomer.open(this);
		insertCustomer();
	});
	
    //고객등록 팝업 종료
	$("body").on("click", "#popCustomerDiv .btn_close, #popCustomerDiv .btn_cancel", function($e) {
	    $e.preventDefault();
	    popCustomer.close();
	});
    
	$('#customerSortingButton').click(function(){
		if ($(this).hasClass('on')) {
			$('#sortingFlag').val('customerNameA');
		} else {
			$('#sortingFlag').val('customerNameD');
		}
		getData(1);
	});
	
	$('#createDateSortingButton').click(function(){
		if ($(this).hasClass('on')) {
			$('#sortingFlag').val('createDateA');
		} else {
			$('#sortingFlag').val('createDateD');
		}
		getData(1);
	});
});
/*]]>*/
</script>
</th:block>
<!-- container -->
<div id="container" layout:fragment="contentFragment">
<form name="searchForm" onsubmit="return false;">
<input type="hidden" name="searchCondition" id="searchCondition" th:value="${searchCondition}"/>
<input type="hidden" name="sortingFlag" id="sortingFlag" value="customerNameA"/>
	<div id="contents" class="customer">
		<h2 class="h2">고객관리</h2>

		<section>
			<div class="cont-box wfull">
				<!--상품관리//-->
				<table class="form_table">
					<colgroup>
						<col width="170px" />
						<col width="*" />
						<col width="170px" />
						<col width="*" />
					</colgroup>
					<tbody>
						<tr>
							<th>고객명</th>
							<td>
								<input type="text" class="w_lg_s" value="" placeholder="" id="customerName" name="customerName"/>
							</td>
							<th>전화번호</th>
							<td>
								<input type="text" class="w_lg_s" value="" placeholder="-없이 입력" id="phoneNumber" name="phoneNumber"/>
							</td>
						</tr>
						<tr>
							<th>등록일자</th>
								<td colspan="3">
								<div class="calendar mr20">
									<span class="datepicker-box w_ms">
										<input type="text" class="js-datepicker" id="startDate" name="startDate"/>
									</span>
									<span class="ml5 mr5">~</span>
									<span class="datepicker-box w_ms">
										<input type="text" class="js-datepicker" id="endDate" name="endDate"/>
									</span>
								</div>
								<span class="trp radio-box">
									<input type="radio" id="searchDate1" name="searchDate" th:checked="true" value="0"/>
									<i></i>
									<label for="searchDate1">오늘</label>
								</span>
								<span class="trp radio-box">
									<input id="searchDate2" type="radio" name="searchDate" value="7"/>
									<i></i>
									<label for="searchDate2">7일</label>
								</span>
								<span class="trp radio-box">
									<input id="searchDate3" type="radio" name="searchDate" value="15"/>
									<i></i>
									<label for="searchDate3">15일</label>
								</span>
								<span class="trp radio-box">
									<input id="searchDate4" type="radio" name="searchDate" value="31"/>
									<i></i>
									<label for="searchDate4">한달</label>
								</span>
								<span class="trp radio-box">
									<input id="searchDate5" type="radio" name="searchDate" value="ALL"/>
									<i></i>
									<label for="searchDate5">전체</label>
								</span>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="btn_set-center mt30">
					<a class="btn btn_green btn_m radius mr5" role="button" href="#none" id="searchButton">검색</a>
					<a class="btn btn_default btn_m radius" href="#none" role="button" id="resetButton">초기화</a>
				</div>

				<!--리스트//-->
				<div class="table-wrap mt80">
					<div class="table-header ">
						<div class="con_title">총 <em id="totalCount">0</em>건</div>
						<div class="ab-r">
							<div class="btn_set">
								<a class="btn btn_default"><i class="icon_down" id="excelButton">엑셀다운로드</i></a>
							</div>
						</div>
					</div>
					<table class="table_list" id="check_table">
						<colgroup>
							<col style="width:5%"/>
							<col style="width:8%"/>
							<col style="width:10%"/>
							<col style="width:auto"/>
							<col style="width:10%"/>
							<col style="width:9%"/>
                            <col style="width:11%"/>
                            <col style="width:9%"/>
						</colgroup>
						<thead>
							<tr>
								<th>번호</th>
								<th><a href="#none" class="align_icon on" id="customerSortingButton">고객명</a></th>
								<th>전화번호</th>
								<th>주소</th>
								<th>처리중 상담건수</th>
								<th><a href="#none" class="align_icon on" id="createDateSortingButton">등록일</a></th>
                                <th>처리일시</th>
                                <th>처리자</th>
							</tr>
						</thead>
						<tbody id="customerTbody">
						</tbody>
					</table>

					<div class="paging-area">
						<div class="btn_set">
							<div class="fr">
								<button class="btn btn_default btn_w" type="button" id="insertButton"><i class="icon_add">등록</i></button>
							</div>
						</div>
						<div class="paging" id="pagination">
						</div>
					</div>
				</div>

			</div>
		</section>
	</div>
</form>
</div>
<span id="popSpan" layout:fragment="popupFragment" >      
  	<div id="customerDiv" th:replace="online/customer/customer::customerPopup"></div>
</span>        
<!-- //container -->
</html>